:root {
  --white: #fff;
  --off-white: #d3c993;
  --off-gray: #708b90;
  --off-black: #201f1c;

  --off-yellow: #d2d27e;
  --off-orange: #de9e26;

  --dk-blue: #3a3a48;
  --off-blue: #406182;
  --lt-blue: #9db7c0;

  --dk-green: #405440;
  --off-green: #427c42;
  --lt-green: #a1c8a1;

  --dk-purple: #554157;
  --off-purple: #86427e;
  --lt-purple: #c2a5c2;

  --error-red: #d31c1c;

  --font-text: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background: linear-gradient(05deg, var(--off-gray), var(--off-white));
  font-family: var(--font-text);
  font-size: 1rem;
}

h1 {
  margin-bottom: 1rem;
  text-transform: uppercase;
}

main {
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

form {
  height: fit-content;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.log-in-form {
  background: linear-gradient(05deg, var(--off-blue), var(--lt-blue));
  border: 2px solid var(--dk-blue);
}

.sign-up-form {
  background: linear-gradient(05deg, var(--off-green), var(--lt-green));
  border: 2px solid var(--dk-green);
}

label {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
}

label p {
  width: fit-content;
  background-color: var(--white);
  border: 2px solid var(--off-gray);
  border-bottom: none;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  padding: 0 0.25rem;
  font-weight: 600;
  text-transform: uppercase;
}

label input {
  height: 1.75rem;
  width: 100%;
  border: 2px solid var(--off-gray);
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  padding: 0.25rem;
}

::placeholder {
  text-transform: uppercase;
}

a {
  font-family: var(--font-text);
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

a:link {
  color: (var(--off-white)); /* default, not yet visited */
}

a:visited {
  color: var(--off-yellow); /* after clicking */
}

a:hover {
  color: var(--off-orange); /* mouse over */
}

button,
.fake-button {
  all: unset; /* nukes browser defaults */
  height: 1.75rem;
  width: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--white);
  border: 2px solid var(--off-gray);
  border-radius: 0.5rem;
  color: var(--off-black);
  cursor: pointer;
  font-family: var(--font-text);
  font-size: 1rem;
  font-weight: 600;
  margin: 0;
  padding: 0 0.25rem;
  text-transform: uppercase;
}

.fake-button:link,
.fake-button:visited,
.fake-button:hover {
  color: var(--off-black); /* mouse over */
}

button:hover,
.fake-button:hover {
  transform: scale(1.1);
}

.welcome-back-container {
  width: 300px;
  background: linear-gradient(05deg, var(--off-purple), var(--lt-purple));
  border: 2px solid var(--dk-purple);
  border-radius: 1rem;
  padding: 1rem;
}

.welcome-back-container h1 {
  font-size: 1.5rem;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.page-errors h1 {
  color: var(--error-red);
  font-size: 1.75rem;
}

.page-errors p {
  font-size: 1.25rem;
}

.error-messages {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  background: linear-gradient(05deg, var(--off-yellow), var(--white));
  border: 2px solid var(--off-gray);
  border-radius: 1rem;
  margin-top: 0.25rem;
  padding: 0.5rem;
}

.errors {
  color: var(--error-red);
  font-family: var(--font-text);
  font-size: 1rem;
  margin: 0;
  padding: 0;
  text-transform: uppercase;
}
